html, body {
overflow-x: hidden;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color:#333333;
  padding-top: 65px;
}
h1, h2, h3, h4, h5, h6, p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
p {
  line-height: 35px;
  font-weight: 300;
}
a {
  color: white;
}
a:visited {
  color: #f1f1f1;
}
.logo {
  width: 175px;
  height: auto;
}
.nav-link {
  color: #2a2a2a;
  font-size: 25px;
}
.nav-link:hover {
  color: white;
}
.nav-link .btn {
  color: white;
  background-image: none;
  background-color: transparent;
  border-color: white;
}
.nav-link .btn:hover {
  color: white;
  background-image: none;
  background-color: #ccc;
  border-color: #ccc;
}
.circle {
  border-radius: 50%;
}
.work img {
  outline: 1px solid #D3D3D3;
}
.work-link {
  color: gray;
  list-style-type: none;
}
.blue-btn {
  color: #fff;
  background-color: #2f9985;
  border-color: #2f9985;
}
.blue-btn:hover {
  color: #fff;
  background-color: #8b8b8b;
  border-color: #8b8b8b;
}

@media (max-width: 767px) {
  body {
    padding-top: 10px;
  }
    .navbar {
        display:none;
    }
    .skills .pt-5 {
      padding-top: 2rem!important
    }
    .skills .mt-5 {
      margin-top: 1rem!important
    }
}
