body {
  overflow-x:hidden;
}
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color:#333333;
}
h1, h2, h3, h4, h5, h6, p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
ul {
  list-style-type: none;
}
/*GRID*/
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position:relative;
  width: 96%;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear:both;
}
.one-half, .one-third, .one-fourth {
  width: 96%;
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}

/*HEADER*/
header .hero-cases {
  background-color: #f8f7ef;
  width: auto;
  margin-top: 10px;
}
header .hero-content {
  width: 80%;
  margin: 0 auto;
}
header img {
  max-width: 100%;
  height: auto;
  float: right;
  border: 1px solid #e6e6e6;
}
header .heading {
  padding-bottom: 20px;
  padding-top: 10px;
}
header .hero-cases h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  padding-top: 20px;
  text-transform: uppercase;
  margin: 0;
}
header .hero-cases h4 {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  margin: 0;
}
header .hero-cases h2 {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}
header .hero-cases p {
  font-size: 18px;
  font-weight: 300;
}
header .problem h2 {
  margin-top: 100px;
  padding-top: 25px;
}

/*CASE STUDY*/
main {
  background: #ffffff;
}



/*BUTTONS*/
.btn {
  width: 250px;
  border-radius: 4px;
  color:white;
  font-weight: 600;
  font-size: 16px;
  padding: 7px 30px;
  text-transform: uppercase;
  text-decoration: none;
  background: #18ad8a;
}
