body {
  overflow-x:hidden;
}
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color:#333333;
}
h1, h2, h3, h4, h5, h6, p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
ul {
  list-style-type: none;
}
/*GRID*/
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position:relative;
  width: 96%;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear:both;
}
.one-half, .one-third, .one-fourth {
  width: 96%;
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}

/*HEADER*/
header .hero-cases {
  background-color: #F0F0F0;
  width: auto;
  margin-top: 10px;
}
header .hero-content {
  width: 70%;
  margin: 0 auto;
}
header img {
  max-width: 100%;
  height: auto;
  border: 1px solid #e6e6e6;
}
header .heading {
  padding-bottom: 20px;
  padding-top: 10px;
}
header .hero-cases h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  padding-top: 20px;
  text-transform: uppercase;
  margin: 0;
}
header .hero-cases h4 {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  margin: 0;
}
header .hero-cases h2 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
header .hero-cases p {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 20px;
}
/*CASE STUDY*/
main {
  background: #ffffff;
}
.casestudy {
  width: 1000px;
  margin: 0 auto;
}
.casestudy img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 40px;
}
.casestudy h2 {
  text-transform: uppercase;
  padding-top: 20px;
}
.casestudy p {
  font-weight: 300;
  max-width: 800px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 30px;
}
.mockups {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.mockups .comp {
  padding: 0;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto
}
.mockups .fa-chevron-left {
  float: left;
  font-size: 50px;
  color: #eaeaea;
  position: relative;
  margin-top: 200px;
}
.mockups .fa-chevron-right {
  clear: right;
  float: right;
  font-size: 50px;
  color: #eaeaea;
  position: relative;
  margin-top: 200px;
}
.conclusion {
  background-color:#D8D8D8;
  padding-top: 10px;
  padding-bottom: 20px;
}

/*BUTTONS*/
.btn {
  border-radius: 4px;
  color:white;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 40px;
  text-transform: uppercase;
  text-decoration: none;
  background: #2f9985;
}
a.btn:visited {
  color: white;
}
/*MEDIA STYLES*/
@media (min-width: 320px) {
  .mockups .fa-chevron-left {
  display: none;
  }
  .mockups .fa-chevron-right {
  display: none;
  }
  .casestudy {
    max-width: 80%;
    margin: 0 auto;
  }
  .casestudy p {
    font-size: 14px;
    line-height: 22px;
  }
  header img {
    float: left;
  }
}
@media (min-width: 768px) {
  header .problem {
    padding-top: 400px;
    margin-left: 100;
    margin-right: auto;
    padding-bottom: 20px;
  }
  header img {
    margin-left: 20px;
  }
  .mockups .fa-chevron-left {
  display: none;
  }
  .mockups .fa-chevron-right {
  display: none;
  }
  .casestudy {
    max-width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 1000px) {
  header .hero-content {
    width: 90%;
    margin: 0 auto;
  }
  header img {
    float: right;
  }
  header .hero-cases h1 {
    font-size: 50px;
  }
  header .hero-cases h4 {
    font-size: 18px;
  }
  header .problem {
    padding-top: 80px;
  }
}
@media (min-width: 1400px) {
  header .hero-content {
    max-width: 1280px;
  }
}
