body {
  overflow-x:hidden;
}
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color:#333333;
}
h1, h2, h3, h4, h5, h6, p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
ul {
  list-style-type: none;
}

/*GRID*/
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position:relative;
  width: 96%;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear:both;
}
.one-half, .one-third, .one-fourth {
  width: 96%;
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}

/*HEADER*/
header {
  background: #bab463;
  padding-top: 30px;
  .Left_Navigation {
  position: absolute;
  left: -3px;
  top: 70px;
  }
}
header nav {
  max-width: 1300px;
  text-align: center;
}
header nav .logo {
  text-decoration: none;
  font-family: "Open Sans", serif;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 0px;
  color:white;
}
header nav ul {
  text-align: left;
  margin-top: 0px;
  padding: 0;
  overflow: hidden;
}
header nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin: 0 11px;
}
header li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: "Open Sans", serif;
  font-weight: 400;
  color:#FFFFFF;
  text-transform: uppercase;
}
header li a:hover, .dropdown:hover .dropbtn {
  color: #4d4d4d;
}
header li.dropdown {
  display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -100px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
  background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}

header .hero {
  background:url('https://storage.googleapis.com/erinelizabethjohnson/header.jpg') top center no-repeat;
  width: auto;
  background-size: cover;
  text-align: center;
  display: block;
  position: relative;
  margin-top: 20px;
  padding-top: 80px;
  padding-bottom: 60px;
}
header img {
  max-width: 80%;
  height: auto;
}
header .hero h1 {
  max-width: 600px;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  line-height: 35px;
}
header .hero a {
  text-decoration: none;
  color: white;
}
header .hero a i:hover {
  color: #4d4d4d;
}
header .hero a i {
  color: white;
  font-size: 40px;
  font-weight: 100;
  margin-top: 80px;
  padding-left: 40px;
}
/*ABOUT*/
main {
  background: #f1f0e0;
}
.portfolio {
  max-width: 90%;
  margin: 0 auto;
  float: none;
}
.portfolio h2, .portfolio h3, .portfolio p {
  text-align: center;
}
.portfolio h2, .portfolio h3 {
  text-transform: uppercase;
}
.portfolio h2 {
  font-size: 22px;
  font-weight: bold;
}
.portfolio h3, .portfolio p {
  font-weight: 300;
}
.portfolio h3 {
  font-size: 19px;
}
.giving, .blocbox {
  padding-top: 80px;
  padding-bottom: 40px;
}
.milk {
  padding-top: 80px;
  padding-bottom: 80px;
}
.giving img, .blocbox img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  padding-right: 80px;
}
 .milk img {
   max-width: 100%;
   height: auto;
   display: inline-block;
 }

/*BUTTONS*/
.contact .btn {
  max-width: 300px;
  border-radius: 4px;
  color:white;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  background: #18ad8a;
}


/*CONTACT*/
.contact {
  padding-top: 50px;
  padding-bottom: 40px;
  background: #bab463;
}
.contact .container {
  max-width: 1280px;
}
.contact .contactme, .contact .form {
  display: inline-block;
}
.contact .contactme {
  text-align: center;
  margin-left: 100px;
}
.contact h2 {
  text-transform: uppercase;
}
.contact p {
  font-weight: 300;
  line-height: 30px;
}
.contact a {
  font-weight: bolder;
  text-decoration: none;
  color: #333333;
}
.contact a:hover {
  text-decoration: none;
  color: #5b5b5b;
}
.contact .form {
  max-width: 700px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 50px;
  margin-top: 30px;
}
.contact input {
  height: 40px;
  width: 400px;
  margin-top: 20px;
}
.contact .textform {
  opacity: 0.5;
  padding-left: 20px;
}
.contact textarea {
  min-height: 200px;
  width: 400px;
  margin-top: 20px;
  opacity: 0.5;
  padding-left: 20px;
  padding-top: 10px;
}
.contact img {
  border-radius: 50%;
}

/*FOOTER*/
footer {
  background-color: #6a630c;
  color: #FFFFFF;
  height: auto;
}
footer .container {
  max-width: 1100px;
}
footer .social {
  text-align: center;
}
footer .social a {
  font-size: 30px;
  color: #FFFFFF;
  padding-left: 20px;
}
footer p, footer nav ul {
  font-size: 12px;
  font-weight: 100;
}
footer nav ul li {
  list-style-type: none;
  float: left;
}
footer nav ul li a {
  font-family: "Open Sans", Helvetica, sans-serif;
  text-decoration: none;
  color: white;
  padding-right: 10px;
  text-transform: uppercase;
  font-size: 18px;
}


/*MEDIA STYLES*/
@media screen and (max-width: 765px) {
	/* #menu is the original menu */
.container {
  width: 96%;
}
  html,
  body {
    width:100%;
    overflow-x:hidden;
  }
}
@media (max-width: 320px) {
  .container {
    width: 90%;
  }
  header nav .logo {
    float: none;
    font-size: 16px;
    height: auto;
    text-align: center;
  }
  header nav ul {
    padding-top: 20px;
    float: none;
  }
  header nav ul > li {
    margin: 0 auto;
  }
  header nav #menu {
    padding-left: 0;
  }
  header .hero {
    height: auto;
  }
  header .hero a i {
    font-size: 25px;
  }
  header .hero a .fa-facebook-square {
    margin-left: -30px;
  }
  .portfolio p {
    font-size: 17px;
    line-height: 34px;
  }
  .contact h2, .contact p, .contact .form {
    display: none;
  }
  .contact .contactme {
    margin: 0 auto;
  }
  .contact img {
    float: left;
    margin-left: 50px;
  }
  footer nav ul li a {
    padding-right: 20px;
  }
  footer .social {
    padding-top: 30px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 94%;
  }
  header nav .logo {
    font-size: 16px;
    height: auto;
    float: left;
  }
  header nav ul {
    font-size: 16px;
    float: right;
  }
  header nav ul a {
    padding-left: 20px;
  }
  header .hero h1 {
    font-size: 20px;
    line-height: 36px;
  }
  .portfolio h2 {
    font-weight: bold;
    font-size: 30px;
  }
  .portfolio h3, .portfolio p {
    font-weight: 300;
  }
  .portfolio h3 {
    font-size: 24px;
    margin-top: -20px;
  }
  .porfolio p {
    font-size: 20px;
    line-height: 34px;
  }
  .giving img, .blocbox img {
    margin-left: 40px;
  }
  .milk img {
    padding-bottom: 80px;
  }
  .contact .contactme {
    text-align: center;
    padding-bottom: 30px;
    margin-left: 200px;
  }
  .contact .form {
    margin-left: 175px;
  }
  footer .one {
    float: none;
    display: flex;
    margin: 0 auto;
    padding-top: 10px;
  }
  footer nav #menu, .social a, .copyright p {
    margin: 0 auto;
    padding-bottom: 10px;
  }
  footer .social {
    max-width: 30%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 90%;
  }
  .one-half {
    width: 46%;
  }
  .one-third {
    width: 29.33333%;
  }
  .one-fourth {
    width: 21%;
  }
  header .logo {
    float: left;
    display: inline-block;
  }
  .portfolio p {
    font-size: 20px;
    line-height: 35px;
  }
  .giving img, .blocbox img {
    margin-left: 100px;
  }
  .milk img {
    margin-left: 30px;
  }
  .contact .form {
    margin-left: 275px;
  }
  .contact .contactme {
    margin-left: 250px;
  }
}
@media (min-width: 1100px) {
  .container {
    width: 90%;
  }
  .giving img, .blocbox img {
    margin: 0;
    margin-left: 50px;
    padding-right: 80px;
    float: left;
  }
  .milk img {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 40px;
    margin: 0;
    float: right;
  }
  .portfolio h2 {
    margin-top: 60px;
  }
  .contact .container {
    max-width: 1200px;
  }
  .contact .contactme {
    margin-top: 30px;
    float: left;
    margin-left: 80px;
  }
  .contact .form {
    float: right;
  }
  footer .one {
    display: inline-block;
  }
  footer .links, footer .copyright {
    padding-top: 10px;
  }
  footer .copyright {
    float: right;
  }
  footer .copyright p {
    padding-top: 10px;
  }
  footer #menu {
    text-align: center;
    padding-top: 10px;
  }
  footer .social {
    float: left;
    text-align: center;
    padding-bottom: 10px;
  }
}
